.blog_main{
  background-image: url(/readsomnia-bck.jpg);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  .blog_main_wrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 70px;

    @media only screen and (max-width: 1275px) {
      padding-top: 20px;
    }

    .blog_main_wrapper_inner{
      width: 850px;
      background: var(--lbck);
      color: white;
      border-radius: 14px;
      box-shadow: rgb(0 0 0) 0px 2px 15px;
      overflow: hidden;

      .blog_main_heading{
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        box-shadow: 0 10px 10px #0c0c0c;

        @media only screen and (max-width: 460px) {
          padding:  1rem;
        }

        .blog_heading_top{
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;


          h1{
            font-size: 1.6rem;
            font-family: 'Special Elite', cursive;
            font-weight: 400;
            padding: 0rem;
            margin: 0;
            line-height: 2rem;
          }

          @media only screen and (max-width: 460px) {
            h1{
              font-size: 1.3rem;
            }
          }
        }

        .blog_heading_bottom{
          font-size: 1.6rem;
          font-family: 'Special Elite', cursive;
          font-weight: 400;
          padding: 1rem 0rem 0.5rem 0rem;
          margin: 0;
          line-height: 2rem;
          text-align: center;
        }
      }
    }
  }
}