
.int{
  background: black;
  height: 100vh;

  .h1{
    position: relative;
    top: 5rem;
    
    font-family: 'Special Elite', cursive;
    font-weight: 300;
    font-size: 40rem;

    color:#df9735;
  }
}
