.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  z-index: 999;
  padding: 0 30px;
  background: linear-gradient(to top, transparent 0%, rgb(19, 19, 19, 1) 80%);

  .hamburger{
    font-size: 2.5rem;
    display: none;
  }

  .main_logo{
    display: block;
  }

  .main_logo_short{
    display: none;
  }

  .close_menu{
    display: none;
  }


  .left, .right{
    display: flex;
    align-items: center;
  }

  .left{
    .main_logo{
      margin-right: 30px;
    }

    a{
      margin-right: 20px;
      color: white !important;

      &:hover{
        color: #c8c8fe !important;
      }
    }
  }

  .right{
    position: absolute;
    right: 20px;
    top: 19px;
    align-items: baseline;

    & > a{
      color: white !important;

      &:hover{
        color: #c8c8fe !important;
      }
    }

    .genre_box{
      padding: 1rem;
      padding-top: 0;
      padding-right: 0.5rem;

      &:hover{
        margin-right: -9.5rem;
      }

      .genre_nav_title{
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0.3rem 0.5rem;
        padding-bottom: 0.25rem;
        width: 85px;
      }

      .genre_nav_menu{
        display: flex;
        flex-direction: column;
        font-size: 0.97rem;
        line-height: 1.7rem;
        display: none;

        ul{
          list-style: none;
          padding: 0;
          margin: 0.5rem;

          strong{
            color:rgb(216, 216, 216);
          }
        }
      }

      &:hover .genre_nav_title{
        font-weight: bold;
        background-color: black;
        opacity: 0.98;
      }

      &:hover .genre_nav_menu{
        display: flex;
        background-color: black;
        opacity: 0.98;
        box-shadow: 2px 2px 5px black;
        padding: 0.5rem;
        padding-top: 0rem;
      }
    }

    .search_nav_box{

    }
  }


  @media only screen and (max-width: 1275px) {
    position: sticky;
    height: 50px;
    padding: initial;

    .right{
      .genre_box{
        display: none;
      }
    }

    .hamburger{
      display: block;
      margin: 0 10px;
    }

    .main_logo{
      display: none;
    }

    .main_logo_short{
      display: block;
    }

    .search_nav_box{
      position: relative;
      bottom: 5px;
    }

    .main_nav{
      display: flex;
      width: 250px;
      min-width: 250px;
      flex-direction: column;
      background-color: var(--mainbck);
      position: absolute;
      left: 0;
      top: 50px;
      bottom: 0;
      height: fit-content;
      padding: 1rem;
      padding-bottom: 2rem;
      line-height: 3rem;
      font-size: 1.2rem;
      transition: all 0.5s ease;
      transform: translateX(-255px);
      box-shadow: 1px 1px 3px #5c5656;
      opacity: 0.9;
      border-bottom-right-radius: 10px;

      .close_menu{
        display: block;
        position: absolute;
        bottom: 7px;
        right: 7px;
        color: #989898;
      }
    }
  }
}

.scrolled{
  // background: var(--mainbck);
  background: black;
  opacity: 0.9;
}
