.social{
  position: sticky;
  top: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #a0a0a0;
  margin-left: 10px;

  .socico{
    cursor: pointer;
    transition: 500ms;

    &:hover{
      transform: scale(1.2);
      color: white;
    }
  }
}